section {
    background-image: url(../img/99ba9f92d6915dd4dcba28448029b493.jpg);
    background-size: contain;
    background-attachment: scroll;
    height: 459px;
    margin: -8px;
}

.main-header__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: -8px;
    font-size: 25px;
    color: lightgray;
    background: linear-gradient(to top, #212020, #585656, #1b1919);
}

.main-header__logo {
    display: flex;
    justify-content: center;
    margin-left: 45px;
}

.main-header__site-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-left: -4%;
    /*text-transform: uppercase;*/
    cursor: pointer;
    transition: 1s linear;
}

.main-header__site-name:hover {
    transition: 1s linear;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 18%;
    height: 70px;
    text-transform: capitalize;
    transition: 0.5s linear;
}

li:hover {
    color: red;
    /*text-decoration: underline;*/
}

a {
    text-decoration: none;
    color: white;
    transition: 0.2s linear;
}

a:hover {
    transition: 0.2s linear;
    color: #ab4408;
}

.main-header__cart {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    margin-left: 3%;
}

.main-header__cart:hover {
    fill: white;
}

.main-header__contacts {
    width: 100%;
    text-align: center;
    margin-top: 4%;
}

.main-header__phone-number {
    font-size: 25px;
    color: ghostwhite;
    cursor: pointer;
    transition: 0.2s linear;
}

.main-header__phone-number:hover {
    color: #ab4408;
    transition: 0.2s linear;
    text-decoration: underline;
}

.main-header__address {
    font-size: 22px;
    color: ghostwhite;
    margin-top: 2%;
    cursor: pointer;
}

.main-header__address:hover {
    color: #ab4408;
    transition: 0.2s linear;
}

.main-header__entrance-store {
    margin-top: 2%;
    width: 8%;
    height: 42px;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 4px;
    color: white;
    background: #212020;
    transition: 1s linear;
    cursor: pointer;
}

.main-header__entrance-store:hover {
    background: linear-gradient(45deg, black, transparent);
    transition: 1s linear;
}

.main-header__information {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 19%;
    margin-top: 3%;
    font-size: 19px;
    color: #ab4408;;
    border: 4px solid grey;
    padding: 8px;
}